Package: synaptic-testing
Version: 0.16.4+nmu2
Architecture: all
Maintainer: Steven Pusser (Stevo) <maintainer@mepiscommunity.org>
Installed-Size: 38
Depends: synaptic, libnotify-bin
Section: admin
Priority: optional
Description: Launch Synaptic with Test Repo Enabled
 Synaptic-testing is a wrapper for Synaptic that enables MX Linux testing
 repositories and does a update to facilitate installing MX Linux testing packages
 at Synaptic exit it removes the testing repositories
