[Desktop Entry]
Version=1.0
Type=Application
Name=Synaptic-Testing
Comment=Launch Synaptic with Test Repo Enabled
Exec=su-to-root -X -c synaptic-testing.sh
Icon=deb
Path=
Terminal=false
StartupNotify=false
Categories=PackageManager;GTK;System;Settings;
